[submodule "Libraries/kicad-m2ngff"]
	path = Libraries/kicad-m2ngff
	url = https://github.com/patrykf03/kicad-m2ngff
	update = merge
[submodule "Libraries/marbastlib"]
	path = Libraries/marbastlib
	url = https://github.com/ebastler/marbastlib
	branch = untested
	update = merge
[submodule "Libraries/moko"]
	path = Libraries/moko
	url = https://github.com/patrykf03/moko
	update = merge
[submodule "keyboards/ISS"]
	path = keyboards/ISS
	url = git@github.com:patrykf03/ISS.git
	update = merge
[submodule "Libraries/SSD1306"]
	path = Libraries/SSD1306
	url = https://github.com/pforrmi/KiCad-SSD1306-128x64.git
	update = merge
[submodule "Libraries/hybrid"]
	path = Libraries/hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
	update = merge

